
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
body{
    background: url(background.jpg) no-repeat  ;
}
h1{
    margin-left: 70px;
    font-size: 50px;
    font-family: 'Sue Ellen Francisco', cursive;
    letter-spacing:0rem;
}
#quoteContainer{
    /* background-color: red; */
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 4%;
    border-radius: 20px;
    overflow-y: auto ;
    height: 350px;
}
#quote{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10mm;
    padding: 20px 50px;
    align-items: center;
    display: flex;
    /* height: 150px; */
    /* display: none */
}
#author{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: grey;
    padding-bottom: 30px;
    /* display: none; */
}
#loader.show{
    display: block;
    background:  url(813.gif) no-repeat center center;
    width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  
    
}

#loader,#quote.hide,#author.hide,#intro-text.hide{
    display: none;
}
#quote.error{
    color: red;
    line-height: 260px;
    font-size: 30px;
    align-items: center;
    /* background-color: green; */
    /* padding-right: 7000px; */
    display: block;
    padding-left: 130px;

}
.container{  
    text-align: center;  
    /* border: 7px solid red; */
    padding-top: 100px; 
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    }  

button{
    border: 0.5px none;
    padding: 10px 300px;
    border-radius: 80px;
    font-size: 16px;
    font-weight: 550;
    background-color: rgb(155, 76, 76);
    /* background-color: red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}
button:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    /* background-color: red; */
    color: white;
}
#intro-text{
    text-align: center;
    
  line-height: 220px;
  font-size: 30px;
  color: grey;
  font-style: italic;
  /* display: inline-block;
  vertical-align: middle; */

}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  } */
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }